
@import "colors";
@import "fonts";
@import "mixins";
@import "sizes";


.weownitsidebar {
 position:fixed;
 top:0;
 right:0;
 height:100%;
 background-color: $topbarblue;
 z-index:1000;
 overflow: auto;
 width: $side_width;
 .weownit_images {
     list-style-type: none;
     li {
        padding: 5px;
     }
 }
}