$white: #fff;
$black: #000;
$black_blue: #111925;
$medgreyblue: #63738a;
$lightgreyblue: #99a6b9;
$lightgreybeige: #efeeee;

$text: $black_blue;
$menu: $black_blue;
$menu_text: $white;
$turquoise: #00ffff;
$beige: #EFEFEA;
$lightblack: #3C4144;



$selectedtab: rgb(243,243,243);
$imageborder: rgb(189,191,187);
$unselectedtab: rgb(18,20,18);
$topbarblue: rgb(29,40,53);