$lv-font-size: 13px;

@mixin truncate(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

$heading-s-m-g: "Sorts Mill Goudy", "Hoefler Text", "Baskerville", "Palatino", "Georgia", "Times New Roman", serif;