$lv-font-size: 13px;
$heading-s-m-g: "Sorts Mill Goudy", "Hoefler Text", "Baskerville", "Palatino", "Georgia", "Times New Roman", serif;
$font-stack:    'Open Sans', sans-serif;

@mixin truncate(){
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}