
@import "colors";
@import "fonts";
@import "mixins";
@import "sizes";


//Ad to colors file:
$lightgreybeige: #efeeee;

//General styling (to be added somewhere else?):

h1 {
    font-family: 'Sorts Mill Goudy', serif;
    font-style: italic;
    font-size: $h1size;
    color: $text;
}

.container, body {
    background-color: $lightgreybeige;
    color: $text;
}


//Images/Masonry specific styling:

.images-nav {
    margin-bottom: 20px;
    a {
        margin-right: 10px;
        color: $lightgreyblue;
        font-size: $menufontsize;
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid $lightgreyblue;
        &:hover {
            color: $medgreyblue;
            border-color: $medgreyblue;
        }
        &:active {
            color: $white;
            background-color: $text;
            border-color: $text;
        }
    }
    ul {
        list-style-type: none;
        li {
            display: inline-block;                
            margin-bottom: 10px;  
        }
    }
}

.masonry-item, .corner-stamp { 
    width: 18%;
    color: $text;
    
    margin-bottom: 15px;
    font-size: 11px;
    .image-dimensions, .masonry-image-title  {
        text-align: center;
        background-color: $white;  
    }
    .image-dimensions {
        padding: 2px;
    }
    .masonry-image-title {
        padding: 5px;
            font-family: 'Sorts Mill Goudy', serif;
    font-style: italic;
    }
    .text-content {
        background: rgba(0,0,0,0.5);
        color: white;
        cursor: pointer;
        display: table;
        left: 0;
        position: absolute !important;
        top: 0;
        width: 100%;
            a {

            color: $white;
            display: block;
            }
    }
    .text-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: inherit; 
    }
}

img {
    max-width: 100%;
}

.corner-stamp {
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    height: 250px;
    nav.vertical {
        font-size: $verticalmenufontsize;
        
        a {
            color: $lightgreyblue;
            display: block;
            text-decoration: none;
            padding: 10px 20px;
            border: 1px solid $lightgreyblue;
            &:hover {
                color: $medgreyblue;
                border-color: $medgreyblue;
            }
            &:active {
                color: $text;
                border-color: $text;
            }
        }
        ul {
            list-style-type: none;
            text-align: center;
            //padding-left: 10px;
            li {
                display: block;                
                margin-bottom: 10px;
                width: 150px;

                ul{
                    li { 
                        a {
                            border: 0;
                        }
                    }
                }
            }
        }
        .masonry-image-overlay {
            position: absolute;
            left: 0px;
            top: 0px;
            z-index: 1000;
            background-color: #000000;
            opacity: 0.5;
        }
        .images-sub-menu {
            height: 150px;
            overflow: auto;
        }
    }
}



//Widget overview/creation

.masonry-product-name { 
    //height: 40px;
    @include truncate(); }



@media (min-width: 1400px) {
    .masonry-item, .corner-stamp { 
        width: 13%;

    }
    .widget-product {
        width: 22%;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .masonry-item, .corner-stamp { 
        width: 15%;

    }
    .widget-product {
        width: 22%;
    }

}

@media (min-width: 980px) and (max-width: 1199px)  {
    .masonry-item, .corner-stamp { 
        width: 15%;

    }
    .widget-product {
       width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .masonry-item, .corner-stamp { 
        width: 22%;
    }
    
    .widget-product {
       width: 45%;
    }
}

@media (max-width: 767px) { 
   .masonry-item, .corner-stamp { 
        width: 30%;
   } 
}


@media (max-width: 480px) {
    .masonry-item, .corner-stamp { 
        width: 48%;

    }
        .widget-product {
       width: 45%;
    }
}


@media (max-width: 390px) {
    .masonry-item, .corner-stamp { 
    width: 100%;
    }
        .widget-product {
       width: 45%;
    }
}


