$side_width: 400px;
$side_signin_height: 400px; 
$tabwidth: 125px;
$field_width: 200px;
$button_height: 40px;
$button_width: 55px;
$img_width: 200px;

$h1size: 36px;
$menufontsize: 14px;
$verticalmenufontsize: 12px;