/* line 13, ../sass/masonry-view.scss */
h1 {
  font-family: "Sorts Mill Goudy", "Hoefler Text", "Baskerville", "Palatino", "Georgia", "Times New Roman", serif;
  font-style: italic;
  font-size: 36px;
  color: #111925;
}

/* line 20, ../sass/masonry-view.scss */
.container, body {
  background-color: #efeeee;
  color: #111925;
}

/* line 25, ../sass/masonry-view.scss */
.navbar {
  border: 0;
}

/* line 28, ../sass/masonry-view.scss */
.navbar-inner {
  background-color: white;
  border: 0;
}
/* line 31, ../sass/masonry-view.scss */
.navbar-inner .container {
  background-color: white;
  border: 0;
}

/* line 40, ../sass/masonry-view.scss */
.images-nav {
  margin-bottom: 20px;
}
/* line 42, ../sass/masonry-view.scss */
.images-nav a {
  margin-right: 10px;
  color: #99a6b9;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #99a6b9;
}
/* line 49, ../sass/masonry-view.scss */
.images-nav a:hover {
  color: #63738a;
  border-color: #63738a;
}
/* line 53, ../sass/masonry-view.scss */
.images-nav a:active {
  color: white;
  background-color: #111925;
  border-color: #111925;
}
/* line 59, ../sass/masonry-view.scss */
.images-nav ul {
  list-style-type: none;
}
/* line 61, ../sass/masonry-view.scss */
.images-nav ul li {
  display: inline-block;
  margin-bottom: 10px;
}

/* line 68, ../sass/masonry-view.scss */
.masonry-item, .corner-stamp {
  width: 18%;
  color: #111925;
  text-align: center;
  margin-bottom: 15px;
  font-size: 11px;
}
/* line 74, ../sass/masonry-view.scss */
.masonry-item .image-dimensions, .masonry-item .masonry-image-title, .corner-stamp .image-dimensions, .corner-stamp .masonry-image-title {
  text-align: center;
  background-color: white;
}
/* line 78, ../sass/masonry-view.scss */
.masonry-item .image-dimensions, .corner-stamp .image-dimensions {
  padding: 2px;
}
/* line 81, ../sass/masonry-view.scss */
.masonry-item .masonry-image-title, .corner-stamp .masonry-image-title {
  padding: 5px;
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
}
/* line 86, ../sass/masonry-view.scss */
.masonry-item .text-content, .corner-stamp .text-content {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute !important;
  top: 0;
  width: 100%;
}
/* line 95, ../sass/masonry-view.scss */
.masonry-item .text-content a, .corner-stamp .text-content a {
  color: white;
  display: block;
}
/* line 101, ../sass/masonry-view.scss */
.masonry-item .text-content span, .corner-stamp .text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: inherit;
}

/* line 109, ../sass/masonry-view.scss */
img {
  max-width: 100%;
}

/* line 113, ../sass/masonry-view.scss */
.corner-stamp {
  float: left;
  padding-bottom: 20px;
}
/* line 117, ../sass/masonry-view.scss */
.corner-stamp nav.vertical, .corner-stamp #corner-stamp-upload-img {
  text-transform: uppercase;
}
/* line 120, ../sass/masonry-view.scss */
.corner-stamp #corner-stamp-upload-img {
  background-color: #111925;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  font-weight: 300;
  cursor: pointer;
}
/* line 129, ../sass/masonry-view.scss */
.corner-stamp #corner-stamp-desc {
  background-color: white;
  padding: 30px 20px 20px;
  font-size: 20px;
  font-family: "Sorts Mill Goudy", "Hoefler Text", "Baskerville", "Palatino", "Georgia", "Times New Roman", serif;
  font-style: italic;
  text-align: center;
}
/* line 138, ../sass/masonry-view.scss */
.corner-stamp nav.vertical {
  padding-top: 20px;
  font-size: 12px;
  height: 250px;
}
/* line 143, ../sass/masonry-view.scss */
.corner-stamp nav.vertical a {
  color: #99a6b9;
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #99a6b9;
}
/* line 149, ../sass/masonry-view.scss */
.corner-stamp nav.vertical a:hover {
  color: #63738a;
  border-color: #63738a;
}
/* line 153, ../sass/masonry-view.scss */
.corner-stamp nav.vertical a:active {
  color: #111925;
  border-color: #111925;
}
/* line 158, ../sass/masonry-view.scss */
.corner-stamp nav.vertical ul {
  list-style-type: none;
  text-align: center;
}
/* line 162, ../sass/masonry-view.scss */
.corner-stamp nav.vertical ul li {
  display: block;
  margin-bottom: 10px;
  width: 150px;
}
/* line 169, ../sass/masonry-view.scss */
.corner-stamp nav.vertical ul li ul li a {
  border: 0;
}
/* line 176, ../sass/masonry-view.scss */
.corner-stamp nav.vertical .images-sub-menu {
  height: 150px;
  overflow: auto;
}

/* line 187, ../sass/masonry-view.scss */
.masonry-product-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 1400px) {
  /* line 194, ../sass/masonry-view.scss */
  .masonry-item, .corner-stamp {
    width: 13%;
  }

  /* line 198, ../sass/masonry-view.scss */
  .widget-product {
    width: 22%;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  /* line 204, ../sass/masonry-view.scss */
  .masonry-item, .corner-stamp {
    width: 15%;
  }

  /* line 208, ../sass/masonry-view.scss */
  .widget-product {
    width: 22%;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  /* line 215, ../sass/masonry-view.scss */
  .masonry-item, .corner-stamp {
    width: 15%;
  }

  /* line 219, ../sass/masonry-view.scss */
  .widget-product {
    width: 30%;
  }

  /* line 225, ../sass/masonry-view.scss */
  .corner-stamp #corner-stamp-desc {
    padding: 20px 15px 15px;
    font-size: 16px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 233, ../sass/masonry-view.scss */
  .masonry-item, .corner-stamp {
    width: 22%;
  }

  /* line 237, ../sass/masonry-view.scss */
  .widget-product {
    width: 45%;
  }
}
@media (max-width: 767px) {
  /* line 243, ../sass/masonry-view.scss */
  .masonry-item, .corner-stamp {
    width: 30%;
  }
}
@media (max-width: 480px) {
  /* line 250, ../sass/masonry-view.scss */
  .masonry-item, .corner-stamp {
    width: 48%;
  }

  /* line 254, ../sass/masonry-view.scss */
  .widget-product {
    width: 45%;
  }
}
@media (max-width: 390px) {
  /* line 261, ../sass/masonry-view.scss */
  .masonry-item, .corner-stamp {
    width: 100%;
  }

  /* line 264, ../sass/masonry-view.scss */
  .widget-product {
    width: 45%;
  }
}
