/* line 14, ../sass/widget.scss */
.h1-sans-serif {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 23, ../sass/widget.scss */
.masonry-brand-name {
  text-transform: uppercase;
  font-weight: 600;
}

/* line 28, ../sass/widget.scss */
.search-products {
  margin-bottom: 10px;
}

/* line 32, ../sass/widget.scss */
.widget-product-container {
  overflow: scroll;
}

/* line 36, ../sass/widget.scss */
.text-content-link {
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 46, ../sass/widget.scss */
#empty-products-container {
  display: none;
  border: 5px dashed white;
  padding: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 53, ../sass/widget.scss */
#empty-products-container ol.instructions {
  display: table-cell;
  vertical-align: middle;
  height: inherit;
  list-style-type: decimal !important;
  font-family: "Sorts Mill Goudy", "Hoefler Text", "Baskerville", "Palatino", "Georgia", "Times New Roman", serif;
  font-size: 20px;
}
/* line 60, ../sass/widget.scss */
#empty-products-container ol.instructions li {
  margin-bottom: 30px;
  margin-left: 30px;
}

@media (max-width: 767px) {
  /* line 67, ../sass/widget.scss */
  .container-fluid {
    padding-left: 10px;
    padding-right: 10px;
  }
}
